.banner_wrapper{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 30px 0 0 0;
}
.banner_wrapper::before{
    content: "";
    position: absolute;
    background-image: url("../../public/bg-elements.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.banner_content{
    padding-top:clamp(5rem, 2.5357rem + 12.3214vw, 13.625rem);
    position: relative;
    z-index: 2;
}
.banner_wrapper p{
    max-width: 330px;
    margin: 5px auto 17px;
    font-style: italic;
}
.banner_content h5{
    margin-bottom: 45px;
}
.banner_content h5 img:first-child{
    opacity: 0.25;
    margin-right: 3px;
}
.banner_content h5 img:nth-child(2){
    margin-right: 3px;
}